body{
	background-color : #141414 ;
	font-family: 'Asap', sans-serif;
}
.head {
    width : 100%;
	height: .1px;
	color: black;
	position: relative;
	box-shadow: 0px -10px 30px 20px rgb(0, 0, 0);
}
.top-title{
	margin-left: 40px;
	margin-top: 40px;
	font-size: large;
	color: white;
}
a:link{
	color: black;
}
a:visited{
	color: black;
}
a:active{
	color: black;
}
a:hover{
	color: black;
}

.box{
	background: whitesmoke;
	height: 250px;
	width: 250px;
	resize: both;
	box-shadow: 0 5px 20px rgba(61, 61, 61, 0.5);
	transition: transform 300ms, box-shadow 300ms ;

	display: grid;
	justify-items: center;
	align-items: center;
}
.box:hover{
	transform: scale(1.1);
	box-shadow: 0 5px 50px rgba(61, 61, 61, 0.5);
}

.center-tabs{
	position: absolute;
	margin: 0 ;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%,-50%);
	padding: unset;
	height: 50%;
	width: 70% ;
	resize: both;
}
.center-tabs{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px,1fr) ) ;
	justify-items: center ;
	align-items: center;
}
.a-button{
	background: lightgray;
	height: 30px;
	width: 50px;
}