
body{
    background-color: rgb(44, 46, 52);
    font-family: 'Fira Code', monospace;
}

main{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.numbers{
    color: #eec95b; 
    line-height: 1.5rem;
    font-size: 2rem;
    
    margin: .37rem;
}
