
// $font : 'Fira Code', monospace;
$font : 'Cascadia code';

html {
    height: 98%;
}
body{
    height: 100%;
    background-color: rgb(231, 229, 229);
    font-family: $font;
    font-weight: lighter;
    display: grid;
    justify-items: center;
}

img{
    width: 70px;
    // position: fixed;
    // left: 20px;
    // top: 20px;
}

$main_width: 750px;

main{
    max-height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    max-width: $main_width;
    width: $main_width;   
}

@media only screen and (max-width: $main_width){
    @media not all and (max-device-width: 480px) {
        main{
            width: 100%;
            // justify-content: space-around;
        }
    }
}

%baseDiv {
    display: grid;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

%base-thing {
    justify-content: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 400px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;

    box-shadow: 0 5px 20px rgba(61, 61, 61, 0.5);
	transition: transform 300ms, box-shadow 300ms ; 
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    margin-top: 0%;
}

.mode{
    margin-left: 10px;
    margin-bottom: 15%;
//     position: fixed;
//     left: 110px;
//     top: 40px;
}
.modeChange{
    // margin-top: 0%;
    margin-bottom: 0%;
    user-select: none; 
}
.modeChange:hover{
    cursor: pointer;
    font-weight: 300;
}
.modeInfo{
    margin-top: 0%;
    color: rgb(158, 152, 152);
    font-size: 14px;
}

.flow{
    display: flex;
    align-self: center;
    justify-items: center;
    align-items: center;

    // margin-top: 0%;
    flex-direction: column;
    width: 100%

    // top: $topLoc + 15;
}
.timerDiv{
    @extend %baseDiv;
}
.timer{
    @extend %base-thing;
    font-size: 30px;
}


.wpmText {
    @extend %base-thing;
}

.generatedWords {
    // @extend %base-thing;
    font-weight: 320;
    font-size: 19px;
    color: rgb(71, 71, 71);
}

// .generatedWordsDiv {
//     @extend %baseDiv;
//     top: $topLoc + 15;
//     text-align: left;
// }

.inputBox {
    justify-items: center;
    padding: 15px;
}

input{    
    display: inline-block;
    border: none;
    outline: none;
    box-sizing: border-box;

    // width: 50%;

    font-weight: lighter;
    font-family: $font;
    background-color: rgb(231, 229, 229);
}

.commentDiv {
    margin-top: auto;
    display: grid;
    text-align: center;

    left: 50%;
    gap: 1px;
    font-size: 13px;
    color: rgb(158, 152, 152);
}
.moblieTop{
    display: flex;
    flex-direction: column;
}
.mobile {
    display: none;
    // @extend %baseDiv;
}
div[id="generate"]{
    // @extend %baseDiv;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}
.mobileButtons{
    @extend %base-thing;
    margin: 10px;
}

@media only screen and (max-device-width: 480px) {
    $mobileTop: 20%;
    $font : 'Fira Code', monospace;
    body {
        font-family: $font;
        display: grid;
        align-items: center;
        justify-content: center;
        justify-items: center;    
    }
    img{
        width: 50px;
    }
    main{
        width: 100%;
    }
    // header{
    //     margin-top: 50px;
    // }
    .mobile {
        display: flex;
        flex-direction: row;
        row-gap: 50px;
    }
    .flow {
        margin-top: 0%;
    }
    div[id="generate"]{
        display: inline-block;   
    }
    .mode{
        font-size: smaller;
        margin-bottom: auto;
    }
    
}





