$topLoc : 30%;
$font : 'Fira Code', monospace;
// $font : 'Cascadia code';

html {
    height: 98%;
}
body{
    height: 100%;
    background-color: rgb(231, 229, 229);
    font-weight: lighter;
    font-family: $font;
}

main{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


%baseDiv {
    position: absolute;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    display: grid;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

%base-thing {
    justify-content: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 400px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;

    box-shadow: 0 5px 20px rgba(61, 61, 61, 0.5);
	transition: transform 300ms, box-shadow 300ms ; 
}

main{
    display: grid;
    justify-content: center;
    align-items: center;   
}
.timerDiv{
    @extend %baseDiv;
    top: $topLoc;
}
.timer{
    @extend %base-thing;
    font-size: 30px;
}

.wpmDiv{
    @extend %baseDiv;
    top: $topLoc + 30;
}

.wpmText {
    @extend %base-thing;
}

.test {
    @extend %base-thing;
}
.testDiv {
    @extend %baseDiv;
    top: $topLoc + 15;
}

input{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    display: inline-block;
    border: none;
    outline: none;
    box-sizing: border-box;
    
    font-weight: lighter;
    font-family: $font;

    top: $topLoc + 40;

    width: 15%;
    background-color: rgb(231, 229, 229);
}

.commentDiv {
    margin-top: auto;
    display: grid;
    text-align: center;

    left: 50%;
    gap: 1px;
    font-size: 13px;
    color: rgb(158, 152, 152);
}

.mobile {
    display: none;
    @extend %baseDiv;
}

.mobileButtons{
    @extend %base-thing;
}

@media only screen and (max-device-width: 480px) {
    $mobileTop: 10%;
    .mobile {
        display: flex;
        flex-direction: row;
        top: $mobileTop + 65;
    }
    .timerDiv{
        top: $mobileTop;
    }
    .wpmDiv{
        top: $mobileTop + 40;
    }
    .testDiv {
        top: $mobileTop + 20;
        width: 90%;
    }
    input{
        top: $mobileTop+ 50;
        width: 30%;
    }
}





